# .gitattributes
# Copyright (c) 2026 Ishan Pranav

docs/ linguist-documentation=false
docs/ linguist-generated=true
docs/images/ linguist-generated=false
docs/images/ linguist-documentation=true
docs/scripts/bundle.js linguist-generated=false
docs/scripts/software.js linguist-generated=false
docs/scripts/software.js linguist-detectable=true
docs/scripts/software.js linguist-language=js
docs/styles/ishan.css linguist-generated=false
docs/stlyes/ishan.css linguist-detectable=true
docs/styles/ishan.css linguist-language=css
docs/styles/carousel.css linguist-vendored=true
