<div class="row g-5">
    <div class="col-md-4">
            <img src="images/profile-full.jpg" alt="Profile photo"
                 class="img-fluid flex-shrink-0 d-block mx-auto" />
    </div>
    <div class="col-md-8">
        <h2 class="text-primary fw-bold mb-3 fs-1">{{title}}</h2>
        <p>
            Hi, I&rsquo;m Ishan! I'm a self-taught software developer, an
            avid student of finance and economics, and a full-time investment
            banker (starting in June 2026). I love working on .NET projects,
            consulting small businesses, and managing my portfolio.
        </p>
        <p>
            If you&rsquo;re looking to collaborate on a project, or if your
            business
            needs help with research or automation, or even if you&rsquo;d just
            like to chat and teach me something new about
            personal finance, contact me any time at <a href="mailto:{{email}}"
               class="icon-link">{{email}}</a>.
        </p>
    </div>
</div>
