<h2 class="text-primary fw-bold mb-3 fs-1">{{title}}</h2>
<p>
    This site uses <a href="https://www.goatcounter.com/" class="icon-link"
       target="_blank">GoatCounter</a>, a privacy-friendly analytics tool that
    does not use cookies or collect personal data.
</p>
<p>
    No personally identifiable information is stored or shared.
</p>
