<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          type="text/css"
          href="styles/bootstrap.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" />
    <link rel="stylesheet"
          type="text/css"
          href="styles/ishan.css" />
    {{{head}}}
</head>

<body>
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a href="#"
                       class="nav-link link-body-emphasis px-2 active"
                       aria-current="page">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link link-body-emphasis px-2">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link link-body-emphasis px-2">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link link-body-emphasis px-2">
                        FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link link-body-emphasis px-2">
                        About
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#"
                       class="nav-link link-body-emphasis px-2">
                        Login
                    </a>
                </li>
                <li class="nav-item"><a href="#"
                       class="nav-link link-body-emphasis px-2">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-lg-0 link-body-emphasis text-decoration-none">
                <span class="fs-2 ishan-logo text-primary">Ishan Pranav</span>
            </a>
        </div>
    </header>
    {{{body}}}
</body>

</html>