<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          type="text/css"
          href="styles/bootstrap.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" />
    <link rel="stylesheet"
          type="text/css"
          href="styles/ishan.css" />
    {{{head}}}
</head>

<body>
    <div class="sticky-top bg-white">
        <div class="ishan-stripe bg-primary"></div>
        <nav
             class="navbar navbar-expand-lg bg-body-tertiary py-2 border-bottom">
            <div class="container d-flex flex-wrap">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="#">Action</a></li>
                                <li><a class="dropdown-item"
                                       href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item"
                                       href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex"
                          role="search">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Search"
                               aria-label="Search" />
                        <button class="btn btn-outline-success"
                                type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <header class="py-5 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-lg-0 link-body-emphasis text-decoration-none">
                    <span class="fs-2 ishan-logo text-primary">Ishan
                        Pranav</span>
                </a>
            </div>
        </header>
    </div>
    <div class="container">
        {{{body}}}
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Pricing</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">FAQs</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Pricing</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">FAQs</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">Pricing</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">FAQs</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                               class="nav-link p-0 text-body-secondary">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from
                            us.
                        </p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1"
                                   class="visually-hidden">Email
                                address</label>
                            <input id="newsletter1"
                                   type="email"
                                   class="form-control"
                                   placeholder="Email address"> <button
                                    class="btn btn-primary"
                                    type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div
                 class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2026 Ishan Pranav. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-body-emphasis"
                           href="#"
                           aria-label="Instagram"><svg class="bi"
                                 width="24"
                                 height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a>
                    </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis"
                           href="#"
                           aria-label="Facebook"><svg class="bi"
                                 width="24"
                                 height="24"
                                 aria-hidden="true">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <script type="text/javascript"
            src="scripts/bundle.js">
            </script>
</body>

</html>